/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.button,
.hero-button,
.button-modal-submit {
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.team-social-link,
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover,
.footer-social-link:hover,
.team-social-link:focus,
.footer-social-link:focus {
  background-color: #2196f3;
}

.team-social-icon,
.footer-social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.team-title,
.clients-title,
.services-title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/raleway-v18-latin-regular.woff2') format('woff2'),
    url('../fonts/raleway-v18-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/raleway-v18-latin-700.woff2') format('woff2'),
    url('../fonts/raleway-v18-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  position: relative;
}

.header.container {
  display: flex;
  align-items: center;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .header.container {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .header.container {
    min-height: 80px;
  }
}

.menu-button {
  display: inline-flex;
  margin-right: 0px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-mobile-close {
  display: none;
}

.menu-button.is-open .icon-mobile-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu,
.icon-mobile-close {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu:hover,
.icon-menu:focus,
.icon-mobile-close:hover,
.icon-mobile-close:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #fff;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    height: 400px;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list-item.current {
    margin-bottom: 52px;
  }
}

.nav-list-link {
  position: relative;
  display: inline-block;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    font-size: 14px;
  }
}

.nav-list-link.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: -12px;
}

@media screen and (min-width: 768px) {
  .nav-list-link.current::after {
    bottom: -32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: 305px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list-link {
  display: flex;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  font-size: 18px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts-list-link {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    font-size: 14px;
  }
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  font-size: 24px;
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.logo-accent {
  color: #000;
}

.footer .logo-accent {
  color: #ffffff;
}

.footer .logo {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-right: auto;
}

.hero {
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  height: 400px;
  max-width: 480px;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile-opt@1x.jpg);
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile-opt@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .overlay {
    height: 400px;
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet-opt@1x.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet-opt@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desktop-opt@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desktop-opt@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    max-width: 1600px;
  }
}

.hero-title {
  margin: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
  }
}

/* FEATURES */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list-item {
    width: calc((100% - 30px) / 2);
  }
  .features-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.icon-features-block {
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.features-title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}

.features-description {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.features-description::first-letter {
  text-transform: capitalize;
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list-item {
    width: 100%;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 30px) / 2);
  }
  .team-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.team-list-item img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team-list-item img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item img {
    width: 270px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-card-title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.team-card-prof {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-item {
  width: calc((100% - 30px) / 2);
  height: 90px;
}

@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .clients-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    margin-bottom: 30px;
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client-1 {
  width: 44.3px;
  height: 49.2px;
}

.client-2 {
  width: 40px;
  height: 52px;
}

.client-3 {
  width: 41px;
  height: 42.6px;
}

.client-4 {
  width: 79.7px;
  height: 42px;
}

.client-5 {
  width: 59px;
  height: 47px;
}

.client-6 {
  width: 88.5px;
  height: 48.4px;
}

.clients-icon {
  fill: currentColor;
}

/* SERVICES + TEAM + CLIENTS*/
.services {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services-list {
  display: flex;
}

.services-item {
  position: relative;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .services-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.services-list-title {
  position: absolute;
  bottom: 0%;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  z-index: 100;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 94px 5px;
  }
}

.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.buton-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.x-close {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buton-modal-close:hover .x-close {
  fill: #2196f3;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  border: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field-position {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: transparent;
  border-color: #2196f3;
}

.form-input.comment {
  resize: none;
  height: 120px;
  padding-left: 16px;
}

.form-input.comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icons {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icons {
  fill: #2196f3;
}

.agreement-field {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 370px;
}

@media screen and (min-width: 1200px) {
  .agreement-field {
    width: 425px;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-label::before {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  content: '';
  background-image: url(../images/icons/box-checkbox.svg);
  background-size: contain;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 420px) {
  .agreement-label {
    display: block;
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .agreement-label {
    font-size: 14px;
  }
}

.checkbox:checked + .agreement-label::before {
  background-image: url(../images/icons/icon-check-opt-2.svg);
}

.agreement-label-circs {
  color: #2196f3;
  text-decoration: underline;
  white-space: pre-wrap;
}

@media screen and (max-width: 420px) {
  .agreement-label-circs {
    display: block;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-style: normal;
}

.footer .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: start;
    flex-wrap: nowrap;
  }
}

.address-block {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address-block {
    margin-left: 61px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .address-block {
    margin-left: 0px;
    margin-right: 70px;
    margin-bottom: 0px;
    width: 231px;
  }
}

.map {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .map {
    margin-bottom: 9px;
  }
}

.address-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .social-block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .social-block {
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-block {
    margin-right: 93px;
  }
}

.social-block-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .social-item {
    margin-right: 10px;
  }
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .subscription-block {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-block {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.subscription-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
  }
}

.subscription-input {
  height: 50px;
  padding: 15px 5px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .subscription-input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    margin-bottom: 0px;
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscription-form .button {
  margin-left: auto;
  margin-right: auto;
}

.button-text {
  display: flex;
}

.button-text::after {
  display: block;
  margin-left: 10px;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/symbol-defs-opt.svg);
}

.our-works {
  padding: 60px 0;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .our-works {
    padding: 94px 0;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .filter-item:not(:last-child) {
    margin-right: 9px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .gallery-list-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list-item {
    width: 354px;
  }
  .gallery-list-item:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
  .gallery-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list-item {
    width: 370px;
  }
  .gallery-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .gallery-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.gallery-list-link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover,
.gallery-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-backdrop {
  position: relative;
  overflow: hidden;
}

.gallery-backdrop-image {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .gallery-backdrop-image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-backdrop-image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-backdrop-image {
    width: 370px;
  }
}

.gallery-overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translatey(100%);
  transition-property: opacity translatey;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .gallery-overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-overlay {
    padding: 63px 24px;
  }
}

.gallery-list-link:hover .gallery-overlay,
.gallery-list-link:focus .gallery-overlay {
  opacity: 1;
  transform: translatey(0%);
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-work {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
}

.button-modal-submit {
  margin-left: auto;
  margin-right: auto;
}

.button-modal-submit:focus,
.button-modal-submit:hover {
  background: #2196f3;
}

.filter-button {
  display: inline-block;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.team-social-link {
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  color: #ffffff;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.footer-social-icon {
  fill: #fff;
}
/*# sourceMappingURL=main.css.map */
