.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

//   .services .title,
//   .team .title,
  .clients-title {
    @extend %section-title;
    // margin-bottom: 50px;
  
    // color: $title-text-color;
    // font-size: 36px;
    // font-weight: 700;
    // letter-spacing: 0.03em;
    // line-height: 1.17;
    // text-align: center;
  }
  
  .clients-list {
    display: flex;
  }
  
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .clients-link {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: $icon-color;
  
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      border: 1px solid $accent-color;
      color: $accent-color;
  }
  }
  
  .client-1 {
    width: 44.3px;
    height: 49.2px;
  }
  .client-2 {
    width: 40px;
    height: 52px;
  }
  .client-3 {
    width: 41px;
    height: 42.6px;
  }
  .client-4 {
    width: 79.7px;
    height: 42px;
  }
  .client-5 {
    width: 59px;
    height: 47px;
  }
  .client-6 {
    width: 88.5px;
    height: 48.4px;
  }
  
  .clients-icon {
    fill: currentColor;
  }
  