.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $background-color;
    font-style: normal;
  }
  
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  
  .address-block {
    margin-right: 70px;
    width: 231px;
  }
  
  .map {
    color: $address-color;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  
  .address-link {
    display: block;
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $address-color-2;

    &:not(:last-child) {
        margin-bottom: 9px;
      }
  }
  
  .social-block {
    padding-right: 94px;
  }
  
  .social-block-title {
    display: inline-block;
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $accent-color-2;
  }
  
  .social-list {
    display: flex;
  }
  
 .social-item {
    margin-right: 10px;
  }
  
  .social-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
   &:focus {
      background-color: $accent-color;
  }
  }
  
  .social-icon {
    width: 20px;
    height: 20px;
    fill: $address-color;
  }
  
  .subscription-title {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $accent-color-2;
  }
  
  .subscription-form {
    display: flex;
  }
  
  .subscription-input {
    min-width: 358px;
    height: 50px;
    padding: 15px 5px 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    color: $accent-color-2;
  }
  
  // .button {
  //   display: flex;
  //   border: 1px solid transparent;
  //   border-radius: 4px;
  //   padding: 2px;
  //   min-width: 200px;
  //   height: 50px;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  //   color: $accent-color-2;
  //   background-color: $accent-color;
  //   align-items: center;
  //   justify-content: center;
  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.87;
  //   letter-spacing: 0.06em;  
  // }
  
  .button-text {
    display: flex;

    &::after {
      display: block;
      margin-left: 10px;
      content: '';
      width: 24px;
      height: 24px;
      // background-image: url(../../images/icons/symbol-defs-opt.svg);
      background-image: url(../images/icons/symbol-defs-opt.svg);
    }
  }
  
  