.hero {
    padding-bottom: 200px;
    padding-top: 200px;
  
    text-align: center;
    // height: 600px;
    // max-width: 1600px;
    // margin-left: auto;
    // margin-right: auto;
  
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../../images/hero-opt.jpg);
    // background-color: $background-color;
  }
  
.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-opt.jpg);
      // url(../../images/hero-opt.jpg);
    background-color: $background-color;
  }
  
.hero-title {
    margin: 0px;
    margin-bottom: 30px;
  
    color: $accent-color-2;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
  }
  
  // .button {
  //   display: flex;
  //   border: 1px solid transparent;
  //   border-radius: 4px;
  //   padding: 2px;
  //   min-width: 200px;
  //   height: 50px;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  //   color: $accent-color-2;
  //   background-color: $accent-color;
  //   align-items: center;
  //   justify-content: center;
  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.87;
  //   letter-spacing: 0.06em;  
  // }
  
  // .hero .button {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  

  
