.logo {
  font-size: 24px;
  color: $accent-color;
  font-family: $logo-font, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;

  @media screen and (min-width: 768px){
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px){
    margin-right: 93px;
    font-size: 26px;
  }
    

  }
  .logo-accent {
    color: $logo-color;
  }
  
  .footer .logo-accent {
    color: $accent-color-2;
  }
  
  .footer .logo {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-right: auto;
  }
