%button {
    display: flex;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: $accent-color-2;
    background-color: $accent-color;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;  
  }

%social-link {
    display: flex;
    width: 44px;
    height: 44px;
   
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
    background-color: $accent-color;}}

%social-icon {
    display: block;
    width: 20px;
    height: 20px;
    }

//   .services .title,
//   .team .title,
%section-title {
    margin-bottom: 50px;
  
    color: $title-text-color;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
  }