$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-color-2: #ffffff;
$background-color: #2f303a;
$logo-color: #000;
$background-color-2: #f5f4fa;
$address-color: #fff;
$address-color-2: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;

$main-font: "Roboto";
$logo-font:'Raleway';